*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  display: grid;
  min-height: 100vh;
  place-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app {
  width: min(500px, 100% - 2rem);
}

.li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
